nav {
  height: 5rem;
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: var(--color-bg-2);
  border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

/* nav class on scroll using javascript */
/* .window-scrolled {
  background: var(--color-bg-2);
  border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
} */

.show__nav {
  display: none;
}

.hide__nav {
  display: none;
}

.nav__toggle-btn {
  display: none;
  margin-top: 0.5rem;
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 1.3rem;
  margin-top: 0.3rem;
}

.nav__links {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.nav__links div {
  font-size: 1.2rem;
  margin: 0 0.5rem 0 0.5rem;
}

.nav__links li a {
  display: flex;
}

.nav__links a {
  text-decoration: none;
  transition: var(--transition);
}

.nav__links a:hover {
  color: var(--color-primary);
}

.active-nav {
  position: relative;
  background-color: var(--color-primary-variant);
  border-radius: 0.15rem;
  padding-top: 0.15rem;
  color: var(--color-bg-4);
}

.active-nav::after {
  content: "";
  display: block;
  height: 1.2rem;
  background: var(--color-primary);
  position: absolute;
  margin-top: 2.15rem;
}

.nav__socials {
  display: flex;
  gap: 1rem;
}

.nav__socials a {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(
    var(--color-primary-variant),
    var(--color-primary)
  );
  border-radius: 0.5rem;
  color: var(--color-bg-4);
  display: grid;
  place-items: center;
}

.nav__socials a:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1024px) {
  .nav__toggle-btn {
    display: inline-block;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    color: var(--color-white);
  }

  .nav__links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__socials {
    gap: 0.5rem;
  }

  .active-nav,
  .active-nav::after {
    display: none;
    color: var(--color-primary-variant);
  }

  .nav__links li {
    height: 4rem;
    width: 100%;
    box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.5);
    animation: navAnimation 600ms ease forwards;
    transform: rotateX(90deg);
    opacity: 0;
    transform-origin: top;
    margin-bottom: -0.09rem;
  }

  .nav__links li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__links li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__links li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav__links li:nth-child(5) {
    animation-delay: 800ms;
  }

  @keyframes navAnimation {
    to {
      transform: rotatex(0);
      opacity: 1;
    }
  }

  .nav__links li a {
    background: var(--color-bg-4);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 4.5rem 1rem 4rem;
    border-top: 1px solid var(--color-bg-2);
    justify-content: center;
  }

  .show__nav {
    padding-top: 0rem;
    display: flex;
    margin-top: -0.07rem;
  }

  .hide__nav {
    padding-top: 0rem;
    display: none;
  }
}

@media screen and (max-width: 396px) {
  .nav__logo {
    font-size: 1rem;
  }
}

@media screen and (max-width: 3362px) {
  .nav__logo {
    font-size: 0.8rem;
  }
}
