:root {
  /* ========== GREEN THEME ========== */
  --color-primary: #ff7b02;
  --color-primary-variant: #e5a55d;
  --color-bg-1: #1e293cff;
  --color-bg-2: #080a15ff;
  --color-bg-3: #0c0f1b;
  --color-bg-4: #061d31ff;
  --color-light: #85a2b2;
  --color-white: hsl(0, 0%, 90%);

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: rgb(229, 165, 93, 0.2);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--color-primary-variant);
  border-radius: 0.25rem;
}

body {
  font-family: var(--font-kalam), cursive;
  background: var(--color-bg-3) url("./../../public/images/bg-texture.png");
  color: var(--color-light);
  line-height: 1.7;
}

h1,
h2 {
  line-height: 1.1;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: var(--color-white);
}

h2 {
  font-size: 3.5rem;
}

p {
  font-size: 1.3rem;
}

a {
  color: var(--color-light);
  transition: var(--transition);
}

a:hover {
  color: var(--color-primary);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.btn {
  color: var(--color-bg-4);
  width: fit-content;
  margin: 0 auto;
  padding: 0.7rem 2rem;
  background: var(--color-primary);
  border-radius: 1.2rem;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-primary-variant);
  color: var(--color-light);
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.notfound-error__container {
  margin-top: 10rem;
  text-align: center;
  padding-top: 8rem;
}

.notfound-error__container .btn {
  margin-top: 2rem;
  margin-bottom: 18rem;
  display: inline-block;
}

/*==================== MEDIA QUERIES (medium screens) ====================*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    position: relative;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 2rem;
    line-height: 1.3;
    color: var(--color-white);
  }
}
