#gallery {
  margin-top: 10rem;
}

.gallery__head {
  display: flex;
  justify-content: space-between;
}

.gallery__container p {
  width: 45rem;
}

.swiper-wrapper {
  margin-top: 2rem;
  height: 37rem;
  padding-bottom: 5rem;
}

.swiper-slide {
  border: 0.5rem solid var(--color-bg-4);
  height: fit-content;
  max-height: 36rem;
  overflow: hidden;
  transition: var(--transition);
}

.swiper-slide:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
}

.swiper-slide img {
  transition: var(--transition);
}

.swiper-slide:hover img {
  filter: saturate(0);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  #gallery {
    margin-top: 8rem;
  }

  .gallery__container p {
    width: 100%;
    margin-top: 2rem;
  }

  .swiper-wrapper {
    margin-top: 4rem;
    height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  #gallery {
    margin-top: 6rem;
  }

  .gallery__container p {
    margin-top: 1rem;
  }

  .swiper-wrapper {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 964px) {
  .swiper-slide img {
    height: 500px;
  }
}
