#about {
  margin-top: 18rem;
}

.about__container {
  display: grid;
  grid-template-columns: 43% 53%;
  gap: 4%;
  position: relative;
}

.about__title {
  position: absolute;
  top: -9rem;
  z-index: 1;
}

.about__image {
  position: relative;
}

.about__image-bg {
  width: 16rem;
  height: 24rem;
  position: absolute;
  bottom: 0;
  background: var(--color-bg-4);
}

.about__image-lg {
  position: relative;
  bottom: 0.8rem;
  left: 1rem;
  width: 32rem;
  filter: saturate(0) brightness(0.3);
  transition: var(--transition);
}

.about__image-sm {
  position: absolute;
  top: 3rem;
  left: 8rem;
  height: 29rem;
  width: 29rem;
  overflow: hidden;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.about__left:hover .about__image-sm {
  opacity: 0;
}

.about__left:hover .about__image-lg {
  filter: saturate(1) brightness(1);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
  border: 1rem solid var(--color-bg-4);
  left: 0;
  bottom: 0;
}

.about__right p {
  margin: 0 4rem 1.5rem 0;
}

@media screen and (max-width: 1450px) {
  .about__container {
    grid-template-columns: 40% 54%;
    gap: 6%;
  }

  .about__image-lg {
    left: 0;
    top: 0;
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg-2);
    width: 100%;
  }

  .about__image-bg,
  .about__image-sm {
    display: none;
  }

  .about__right {
    margin: 0;
  }

  .about__right p {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .about__right p {
    width: 100%;
  }

  .swiper-slide {
    border: 0;
  }
}
