#exhibitions {
  margin-top: 10rem;
}

.exhibitions__container {
  position: relative;
}

.exhibitions__head {
  display: flex;
  justify-content: space-between;
}

.exhibitions__head > p {
  width: 45rem;
}

.exhibitions__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  gap: 3rem;
}

.exhibitions__gallery article {
  border: 0.5rem solid var(--color-bg-4);
  transition: var(--transition);
}

.exhibitions__gallery article:nth-child(2) {
  height: 39.8rem;
}

.exhibitions__gallery article:nth-child(3) {
  height: 45.8rem;
}

.exhibitions__gallery article:nth-child(4) {
  grid-column: 2/4;
  grid-row: 2/3;
}

.exhibitions__gallery article:nth-child(5) {
  height: 44.5rem;
}

.exhibitions__gallery article img {
  height: 100%;
  transition: var(--transition);
}

.exhibitions__gallery article:hover img {
  filter: saturate(0);
}

.exhibitions__gallery article:hover {
  box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1024px) {
  .exhibitions__head > p {
    width: 100%;
    margin-top: 2rem;
  }

  .exhibitions__gallery {
    margin-top: 3rem;
    gap: 1rem;
  }

  .exhibitions__gallery article {
    border: none;
  }

  .exhibitions__gallery article:nth-child(2) {
    height: 25.8rem;
  }

  .exhibitions__gallery article:nth-child(3) {
    height: 26.8rem;
  }

  .exhibitions__gallery article:nth-child(5) {
    height: 26.5rem;
  }
}

@media screen and (max-width: 600px) {
  #exhibitions {
    margin-top: 6rem;
  }

  .exhibitions__head {
    grid-template-columns: 1fr;
  }

  .exhibitions__head > p {
    margin-top: 1rem;
  }

  .exhibitions__gallery {
    display: block;
  }

  .exhibitions__gallery article {
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
  }
}
